mixin footer()
	+b.FOOTER.footer.block-with-lazy.second-font
		.container
			+e.H5.title Контактная информация
			.row
				+e.item.col-12.col-xl-3
					p <span>EU:</span> Suite 1, 2 Station Court, Imperial Wharf, Townmead Road, Fulham, London, SW6 2PY, United Kingdom
					p tel.: <a href="tel:+442073719666"> + 442073719666</a>
					p e-mail: <a href="mailto:office@anantamedicare.co.uk">office@anantamedicare.co.uk</a>
				+e.item.col-12.col-xl-3
					p <span>India:</span> 621, Ring Road Mall, Sector-3, Rohini, Delhi-110085, India,
					p tel.: <a href="tel:+911147050531"> + 911147050531</a>
					p e-mail: <a href="mailto:info@anantamedicare.in">info@anantamedicare.in</a>
				+e.item.col-12.col-xl-3
					p <span>CIS:</span> Ул. Искринская, 37, г. Харьков, Украина, 61001,
					p tel.: <a href="tel:+38(057)739-03-00"> +38 (057) 739-03-00</a>
					p e-mail: <a href="mailto:office@anantamedicare.com">office@anantamedicare.com</a>
				+e.item.col-12.col-xl-3
					+e.soc-block
						a(href="#") 
							+e.IMG.soc-img(src="img/facebook.png" alt="#")
						a(href="#") 
							+e.IMG.soc-img(src="img/vk.png" alt="#")
						a(href="#") 
							+e.IMG.soc-img(src="img/ok.png" alt="#")
						a(href="#") 
							+e.IMG.soc-img(src="img/instagram.png" alt="#")
						a(href="#") 
							+e.IMG.soc-img(src="img/google.png" alt="#")
			+e.copyright-block
				p Copyright © 2007 — 2019 Ananta Medicare Ltd. Все права защищены. Материалы, отмеченные знаком ® публикуются на правах рекламы <br>Разработка сайта - <a href="#">seozavr.com</a>
				+e.A.feedback(href="mailto:beauty@anantamedicare.com") Обратная связь
