mixin s-meds()
	// start s-meds
	+b.SECTION.s-meds.section.block-with-lazy#s-meds&attributes(attributes)
		+e.item
			+e.IMG.image(src="img/s-meds1.jpg" alt="#")
			.container
				+e.main-row.row
					+e.main-block.col-12.col-md-10
						+e.block
							+e.title
								a(href="#") лекарственные средства
						+e.list.row
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Антибактериальные препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Антигипертензивные препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Антидиабетические препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Антинеопластические средства
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Антисекреторные препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Антитромботические препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Гиполипидемические препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Нестероидные противовоспалительные средства
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Противоаллергические препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Противоглаукомные и миотические средства
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Противогрибковые препараты
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Противопростудные средства
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Спазмолитики
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Средства применяемые при эректильной дисфункции
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Стимуляторы перистальтики (пропульсанты)
		+e.item
			+e.IMG.image(src="img/s-meds2.jpg" alt="#")
			.container
				+e.main-row.row
					+e.main-block.col-12.col-md-10
						+e.title
							a(href="#") Средства природного происхождения
						+e.list.row
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Адриус
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Анантавати
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Анантавати Кидс
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") АРТИКОН®
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") БОРОСАН
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Бьютисан дринк
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Бьютисан стик
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") ГАММА КОМБО
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Гамма леденцы от кашля
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") ГАММА Мазь
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Гамма сироп
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Гамма сироп без сахара
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Гепаклин®
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Гинкго Билоба АНAНTA 40, 80, 120
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Глибофит
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Интинова
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Лактофор®
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Лизостон
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Лотарди
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Мемостим
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Нокамен®
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Сантижен
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Сенадексин Ананта
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Сироп Алтейка Ананта
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Сироп корня Солодки
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Файболекс
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Фемименс
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Фемицикл
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") Флориум
							+e.list-item.col-12.col-md-6.col-xl-4
								a(href="#") ХОЛИКС
	// end s-meds
