mixin s-news()
	// start s-news
	+b.SECTION.s-news.section.block-with-lazy#s-news&attributes(attributes)
		.container
			+e.title-block
				+e.H2.title Новости 
				+e.A.title-link(href="#") Все новости >>
			+e.row.row
				.col-12.col-lg-4
					span.date 11.07.2019
					span.title Provisor Club School – снова вместе!
					p 12.06.19&nbsp;в г. Запорожье прошло второе мероприятие всеукраинского обучающего цикла для провизоров и&nbsp;фармацевтов от&nbsp;Ananta Medicare&nbsp;&mdash; Provisor Club School!
					+e.A.btn.btn-main(href="#") Читать далее
				.col-12.col-lg-4
					span.date 07.06.2019
					span.title АНАНТА МЕДИКЕАР ПРИНЯЛА УЧАСТИЕ В&nbsp;НАУЧНО-ПРАКТИЧЕСКОМ СЕМИНАРЕ &laquo;МУЛЬТИДИСЦИПЛИНАРНЫЙ ПОДХОД К&nbsp;ТЕРАПИИ ВНУТРЕННИХ БОЛЕЗНЕЙ&raquo;
					p 22&nbsp;мая 2019 года состоялся научно-практический семинар в&nbsp;формате телемоста &laquo;Мультидисциплинарный подход к&nbsp;терапии внутренних болезней&raquo;. Семинар проходил в&nbsp;Киеве, Чернигове, Черкассах и&nbsp;Кропивницком, на&nbsp;котором присутствовали врачи разных специальностей: терапевты, семейные врачи, гастроэнтерологи, кардиологи, педиатры и&nbsp;другие.
					+e.A.btn.btn-main(href="#") Читать далее
				.col-12.col-lg-4
					span.date 22.05.2019
					span.title 7&nbsp;мая 2019 года в&nbsp;г. Одесса ANANTA MEDICARE отпраздновала 20-ю годовщину дня рождения компании.
					p В&nbsp;торжественных мероприятиях приняли участие более 500 коллег и&nbsp;партнеров компании из&nbsp;Украины и&nbsp;зарубежья. Праздничную церемонию открыл лично президент компании Джаин Прадип Кумар
					+e.A.btn.btn-main(href="#") Читать далее
	// end s-news