extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title О компании

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Профиль компании")
			+breadcrumb("Главная","О компании","Профиль компании")
	.company-article.second-font
		.container
			p(style="text-align: center;") <strong>Фармацевтическая компания «АНАНТА МЕДИКЕАР ЛТД.», Лондон, Великобритания.</strong> 
			p(style="text-align: center;") <strong>Девиз компании: «Бесконечная забота о Вашем здоровье»</strong> 
			<br>
			p(style="text-align: center;")
				.video-wrap
					<iframe src="https://www.youtube.com/embed/0aqS77uCkps" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			p
				b ПРОФИЛЬ КОМПАНИИ
			p
				ul
					li
						a(href="#mission") Миссия
					li
						a(href="#aim") Ценности
					li
						a(href="#vision") Видение
					li
						a(href="#production") Производство
					li
						a(href="#self-production") Собственное производство
					li
						a(href="#portfolio") Продуктовый портфель
					li
						a(href="#quality") Качество
					li
						a(href="#marketing") Маркетинг
					li
						a(href="#command") Команда
			p БЕСКОНЕЧНАЯ ЗАБОТА О&nbsp;ВАШЕМ ЗДОРОВЬЕ&nbsp;&mdash; главный приоритет группы компаний &laquo;Ananta Medicare&raquo;.
			p &laquo;Ananta Medicare&raquo; стремится оберегать и&nbsp;сохранять самые главные человеческие ценности&nbsp;&mdash; крепкое здоровье и&nbsp;высокое качество жизни.
			p Группа компаний &laquo;Ananta Medicare&raquo; специализируется на&nbsp;производстве и&nbsp;маркетинге качественных генерических лекарственных средств, а&nbsp;также диетических добавок и&nbsp;косметических средств природного происхождения, которые производятся в&nbsp;Италии, Индии, Японии и&nbsp;Украине.
			p Группа компаний Ананта Медикеар имеет собственные заводы в&nbsp;Индии и&nbsp;офисы в&nbsp;Европе (Великобритания), Азии (Индия) и&nbsp;СНГ (Украина).
			p Компания была основана в&nbsp;1999&nbsp;году. За&nbsp;годы успешной работы на&nbsp;фармацевтических рынках продукция &laquo;Ananta Medicare&raquo; заслужила доверие пациентов и&nbsp;специалистов разных стран. Успех компании является результатом неутомимой работы, преданности и&nbsp;высокого профессионализма наших сотрудников.
			p В&nbsp;настоящее время целью компании является расширение рынков сбыта в&nbsp;различных регионах мира.
			p В&nbsp;рамках реализации стратегии развития &laquo;Ananta Medicare&raquo; увеличивает производственные мощности, совершенствует продуктовый ассортимент, формирует профессиональную команду, принимает активное участие в&nbsp;научно-исследовательских программах.
			p
				b(id="mission") МИССИЯ
			p Предоставлять высококачественные и&nbsp;доступные лекарственные препараты и&nbsp;средства растительного происхождения в&nbsp;интересах здоровья пациентов.
			p Обеспечение специалистов в&nbsp;области медицины и&nbsp;фармации высококачественной медицинской продукцией в&nbsp;соответствии с&nbsp;современными стандартами здравоохранения.
			p
				b(id="aim") ЦЕННОСТИ
			p Ценности, которые нас объединяют и&nbsp;являются залогом успеха &laquo;Ananta Medicare&raquo;:
			ul
				li КАЧЕСТВО
				li РЕЗУЛЬТАТИВНОСТЬ
				li КЛИЕНТООРИЕНТИРОВАННОСТЬ
				li ПАРТНЕРСТВО
				li ЦЕЛЕУСТРЕМЛЕННОСТЬ
				li ИННОВАЦИОННОСТЬ
				li ДИНАМИКА РАЗВИТИЯ
				li ДОВЕРИЕ
				li ОТВЕТСТВЕННОСТЬ
				li СПЛОЧЕННОСТЬ
			p
				b(id="vision") ВИДЕНИЕ
			p Мировоззренческая концепция &laquo;Ananta Medicare&raquo;: постоянная забота о&nbsp;здоровье и&nbsp;качестве жизни людей путем повышения общей культуры здравоохранения и&nbsp;тесного взаимодействия со&nbsp;специалистами в&nbsp;сферах медицины и&nbsp;фармации.
			p Драйвером развития &laquo;Ananta Medicare&raquo; является принцип&nbsp;&mdash; &laquo;Будущее начинается сегодня!&raquo;. Поэтому в&nbsp;ближайших планах компании наращивание новых производственных мощностей, расширение ассортимента продукции и&nbsp;фармако-терапевтических направлений, проведение научных исследований и&nbsp;разработка новых лекарственных препаратов и&nbsp;диетических добавок, представление продукции компании на&nbsp;мировых рынках.
			p
				b(id="production") ПРОИЗВОДСТВО
			p Продукция производится на&nbsp;собственных заводах и&nbsp;по&nbsp;контракту в&nbsp;Италии, Индии и&nbsp;Японии. Производственный процесс соответствует стандартам GMP, ISO 9001, ISO 22000 и&nbsp;обеспечивает гарантированное качество продукции.
			p Вся продукция &laquo;Ananta Medicare&raquo; производится на&nbsp;современных фармацевтических предприятиях.
			p
				b Диетические добавки и средства растительного происхождения
			p Первый завод компании Ананта Медикеар, специализирующийся на&nbsp;производстве диетических добавок и&nbsp;средств растительного происхождения, начал работу в&nbsp;2015&nbsp;году. Продукция изготавливается в&nbsp;виде таблеток, капсул, сиропов, леденцов, порошков, кремов/гелей, мазей и&nbsp;других.
			p
				b Лекарственные средства
			p Второй завод компании Ананта Медикеар начал работу в&nbsp;октябре 2018&nbsp;года. Он&nbsp;выпускает цефалоспориновые антибиотики для орального и&nbsp;парентерального способа введения.
			p Третий завод будет запущен к&nbsp;2020&nbsp;году. Его специализацией будут лиофилизированные и&nbsp;жидкие инъекции.
			p Общая площадь заводов по&nbsp;производству лекарственных средств составляет около 30&nbsp;000&nbsp;кв.&nbsp;м.
			p Системы производства и&nbsp;контроля качества данных заводов разработаны в&nbsp;соответствии с&nbsp;требованиями PIC/S GMP, такими как MHRA, FDA и&nbsp;т.&nbsp;д.
			br
			br
			p Производство лекарственных препаратов под собственными торговыми марками &laquo;Ananta Medicare&raquo; также осуществляется на&nbsp;следующих заводах-партнерах:
			ul
				li Flamingo Pharmaceuticals Ltd. (India)
				li Eurolife Healthcare Pvt. Ltd. (India)
				li Marksans Pharma Ltd. (India)
				li Hetero Labs Limited (India)
				li Swiss Parenterals Pvt. Ltd.(India)
				li Kopran Ltd. (India)
				li Venus Remedies Limited (India)
				li Indoco Remedies Ltd. (India)
				li Artura Pharmaceuticals Ltd. (India)
				li Sance Laboratories Private Limited (India)
				li Nutrilinea S.r.L (Italy)
			p и&nbsp;других предприятиях (Японии, Индии, Украины).
			p
				b(id="portfolio") ПРОДУКТОВЫЙ ПОРТФЕЛЬ
			p Ассортимент рецептурных и&nbsp;безрецептурных продуктов, с&nbsp;которыми работает &laquo;Ananta Medicare&raquo; соответствует современным тенденциям развития медицины и&nbsp;формируется в&nbsp;строгом соответствии со&nbsp;стратегией развития компании. Продуктовый портфель включает в&nbsp;себя широкие перечень лекарственных препаратов и&nbsp;средств природного происхождения, позволяющих проводить профилактику и&nbsp;лечение различных заболеваний: сердечно-сосудистых, эндокринологических, неврологических, гастроэнтерологических, аллергических, дерматологических и&nbsp;инфекционных заболеваний, а&nbsp;также заболеваний мочеполовой системы, выпускаемые в&nbsp;различных лекарственных формах: таблетки, капсулы, леденцы, сиропы, спреи, гели,
			p парентеральные лекарственные формы (растворы, порошки для инъекций/инфузий).
			p Маркетинговая стратегия компании и&nbsp;многоуровневый контроль качества выпускаемой продукции являются нашим постоянным приоритетом и&nbsp;направлены на&nbsp;то, чтобы каждый продукт соответствовал самым строгим международным стандартам.
			p Компания &laquo;Ananta Medicare&raquo; проводит клинические испытания диетических добавок и&nbsp;средств растительного происхождения, выводимых на&nbsp;рынок. Таким образом, их&nbsp;эффективность клинически доказана.
			p
				b(id="quality") КАЧЕСТВО
			p &laquo;Бескомпромиссное качество&raquo;&nbsp;&mdash; основа философии &laquo;Ananta Medicare&raquo;, так как высокое качество&nbsp;&mdash; это прогнозированная эффективность и&nbsp;гарантированная безопасность.
			p Компания &laquo;Ananta Medicare&raquo; строго следует политике тщательного контроля качества, который охватывает все стадии производства и&nbsp;хранения продукции, а&nbsp;также соответствует самым требовательным международным стандартам. Рабочие операции и&nbsp;процедуры стандартизированы в&nbsp;соответствии с&nbsp;международными требованиями и&nbsp;нормами:
			p Производство функционирует с&nbsp;соблюдением стандартов Good Manufacturing Practice (GMP). Лабораторные исследования проводятся в&nbsp;соответствии со&nbsp;стандартами Good Laboratory Practice (GLP).
			p Система складского учета, хранения и&nbsp;дистрибьюции функционирует в&nbsp;соответствии с&nbsp;требованиями Good Distribution Practice (GDP).
			p
				b(id="marketing") МАРКЕТИНГ
			p Активно функционирующий отдел маркетинга компании &laquo;Ananta Medicare&raquo; использует в&nbsp;своей работе современные методы продвижения продукции, направленные на&nbsp;удовлетворение потребностей потребителей и&nbsp;специалистов в&nbsp;области медицины и&nbsp;фармации. Успешные маркетинговые стратегии построения брендов обеспечивают динамичное развитие компании на&nbsp;различных рынках.
			p
				b(id="command") КОМАНДА
			p &laquo;Ananta Medicare&raquo; объединила знания и&nbsp;навыки талантливых, амбициозных, ответственных и&nbsp;инициативных специалистов. Сегодняшний коллектив компании это команда единомышленников, которые объединяют многолетний опыт и&nbsp;багаж знаний с&nbsp;энергичностью, оптимизмом и&nbsp;открытостью к&nbsp;современным технологиям. Высокий профессионализм и&nbsp;мотивированность сотрудников позволяют нам быть динамичной и&nbsp;результативной командой.
			p Эффективная система обучения и&nbsp;постоянное развитие организационной структуры компании&nbsp;&mdash; неотъемлемый приоритет в&nbsp;работе &laquo;Ananta Medicare&raquo;. Система управления персоналом базируется на&nbsp;кодексе корпоративной этики, в&nbsp;котором сформулированы и&nbsp;систематизированы основные нормы и&nbsp;принципы поведения сотрудников компании.
			p Результативная деятельность &laquo;Ananta Medicare&raquo; обеспечивается слаженной работой всех подразделений: производственного отдела, отдела маркетинга, регистрации лекарственных средств, отдела продаж, отделов перспективного развития и&nbsp;логистики, подразделения внешней службы компании.
			p Наша компания&nbsp;&mdash; это территория неограниченных возможностей, где молодые талантливые и&nbsp;амбициозные специалисты в&nbsp;области медицины и&nbsp;фармации имеют возможность проявить свои знания, навыки и&nbsp;полноценно реализоваться.
			p
				b История успеха &laquo;Ananta Medicare&raquo;&nbsp;&mdash; это результат многолетнего кропотливого труда всего коллектива во&nbsp;имя здоровья и&nbsp;высокого качества жизни пациентов.
			p
				b Наша команда неуклонно стремится к&nbsp;лидерству и&nbsp;готова прикладывать максимум усилий и&nbsp;весь свой потенциал понимая, что стать лидером в&nbsp;своей области не&nbsp;просто, еще сложнее удержать и&nbsp;укрепить завоеванные позиции.
	+share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

