extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title title

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Производство")
			+breadcrumb("Главная","О компании","Производство")
	.company-article.second-font
		.container
			h2 Производство
			br
			p Вся продукция, представляемая компанией &laquo;АнантаМедикеар Лтд.&raquo; производится на&nbsp;современных фармацевтических предприятиях.
			p
				b Диетические добавки и&nbsp;средства растительного происхождения
			p Первый завод компании Ананта Медикеар, специализирующийся на&nbsp;производстве диетических добавок и&nbsp;средств растительного происхождения, начал работу в&nbsp;2015 году в&nbsp;г. Шрианганагар, Индия. Продукция изготавливается в&nbsp;виде таблеток, капсул, сиропов, леденцов, порошков, кремов/гелей, мазей и&nbsp;других.
			p
				b Лекарственные средства
			p Второй завод компании Ананта Медикеар начал работу в&nbsp;октябре 2018&nbsp;года. Он&nbsp;выпускает цефалоспориновые антибиотики для орального и&nbsp;парентерального способа введения.
			p Третий завод будет запущен к&nbsp;2020&nbsp;году. Его специализацией будут лиофилизированные и&nbsp;жидкие инъекции.
			p Общая площадь заводов по&nbsp;производству лекарственных средств составляет около 30&nbsp;000&nbsp;кв.&nbsp;м.
			p(style="text-align: center;") Ниже представлены проекты заводов (3d&nbsp;изображения)
			p(style="text-align: center;")
				img(src="img/production1.jpg" alt="#" style="max-width: 770px;")
				img(src="img/production2.jpg" alt="#" style="max-width: 770px;")
				img(src="img/production3.jpg" alt="#" style="max-width: 770px;")
	+share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

