extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title title

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Средства природного происхождения")
			+breadcrumb("Главная","Продукты","Средства природного происхождения")
		//- .title-page-block
		//- 	+page-subtitle("Средства природного происхождения")
		//- 	h2 Продукты
	.container
		.row
			mixin product-col(i, t, s)
				a.product-item#med-item.col-12.col-sm-6.col-lg-3(href="#")
					img(src=i alt="#")
					h5=t
					span=s
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
			+product-col("","","")
				
	+share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

