extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title Средства природного происхождения

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Средства природного происхождения")
			+breadcrumb("Главная","Продукты","Средства природного происхождения")
		//- .title-page-block
		//- 	+page-subtitle("Средства природного происхождения")
		//- 	h2 Продукты
	.container
		.row
			mixin product-col(i, t, s)
				a.product-item.med-item.col-12.col-sm-6.col-lg-4.col-xl-3(href="#")
					img(src=i alt="#")
					h5=t
					span=s
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
			+product-col("img/meds3.jpg","Анантавати Кидс","Может рекомендоваться в качестве источника биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению памяти, концентрации внимания, способности к обучению, анализу информации, познавательного интереса и самоконтроля, а также уменьшению гиперактивности, импульсивности, беспокойства, в том числе у детей с дефицитом внимания и гиперактивностью.")
			+product-col("img/meds4.png","АРТИКОН®","Питьевой раствор по 50 мл во флаконе, по 10 флаконов в упаковке Хондропротектор. Способствует нормализации функционирования опорно-двигательного аппарата при повышенных физических нагрузках.")
			+product-col("img/meds1.png","Адриус","Повышения сексуального влечения и нормализации функционирования репродуктивной функции у мужчин.")
			+product-col("img/meds2.jpg","Анантавати","Может быть рекомендована как источник биологически активных веществ растительного происхождения. Способствует нормализации функционирования нервной системы, улучшению умственной деятельности и облегчению состояния в стрессовых ситуациях.")
				
	//- +share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

