extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title Средства природного происхождения

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Средства природного происхождения")
			+breadcrumb("Главная","Продукты","Средства природного происхождения")
		.title-page-block
			+product-subtitle("Вернуться в каталог")
			//- h2 Продукты
	.container
		.product-page
			.row
				.col-12.col-xl-auto.d-flex.justify-content-center.d-xl-block
					img(src="img/meds1.png" alt="#")
				.col
					h2 Адриус
					p(style="text-indent: 1.5em;") <strong>Адриус</strong>  - растительный препарат для лечения эректильной дисфункции и бесплодия. В его состав входят только природные компоненты, благодаря которым он:
					ul
						li Усиливает половое влечение (либидо)
						li Усиливает эрекцию
						li Устраняет сперматорею и преждевременную эякуляцию
						li Увеличивает длительность полового акта
						li Повышает физическую выносливость
						li Укрепляет иммунитет
						li Стимулирует сперматогенез, улучшает подвижность сперматозоидов
						li Повышает половую активность (частоту половых контактов)
					p 
						strong Рекомендации к применению
					ul
						li При эректильной дисфункции
						li При снижении сексуальной активности, в т. ч. на фоне психоэмоционального стресса
						li В качестве тонизирующего средства здоровым мужчинам для расширения спектра сексуальных ощущений
						li При хроническом простатите, доброкачественной гиперплазии предстательной железы
						li В комплексном лечении при бесплодии
						li Для предотвращения преждевременной эякуляции, увеличения продолжительности полового акта
					br
					span.toggler(id="instruction-open") Открыть инструкцию
					span.toggler.disabled-class(id="instruction-close") Закрыть
					p(style="margin-top: 20px")
						a(href="assets/files/ru/anantavati-reprint_rus.pdf" target="_blank") Документ pdf
			.instruction-block(id="instruction-block")
				p(style="text-align: center; font-style: italic;") Инструкция по применению
				br
				p(style="text-align: center;")
					strong АДРИУС
				p
				p 
					strong Состав
				p 
					strong 1 капсула содержит:
				p Активные ингредиенты:
				p Экстракт плодов якорцов стелющихся
				p (Tribulus terrestris) - 250 мг
				p Экстракт корней и листьев витании снотворного
				p (Withania somnifera) - 100 мг
				p Экстракт плодов бобов бархатных
				p (Mucuna pruriens) - 90 мг
				p Экстракт корня спаржи кистевидного
				p (Asparagus adscendens) - 80 мг
				p Апилак (Royal jelly) - 10 мг
				p Йохимбина гидрохлорид (Yohimbine HCl USP) - 2,5 мг.
				p <strong>Вспомогательные вещества:</strong> тальк, натрия бензоат, поливинилпирролидон (PVP K30).
				p <strong>Свойства компонентов:</strong>
				p Адриус содержит тщательно подобранный сбалансированный состав лекарственных растений, которые комплексно влияют на состояние и функции половой системы у мужчин.
				p <strong>Корень и листья витании снотворного.</strong> Витания известна как одна из самых активных афродизиаков. Витания усиливает синтез тестостерона и улучшает сперматогенез. Проявляет выраженные антистрессовые свойства. Кроме того, растение обладает противовоспалительными, антиоксидантными, иммуностимулирующими, кардиопротектоными, антипролиферативными свойства.
				p <strong>Экстракт плодов бобов бархатных</strong> обладает широким спектром свойств: антиоксидантными, противовоспалительными, нейропротекторными, антибактериальными. Применяется в качестве афродизиака. Способствует повышению уровня тестостерона, улучшению образования и качества спермы.
				p <strong>Экстракт корня спаржи кистевидной</strong> используют как афродизиак, а также при различных эректильных расстройствах, таких как недостаточность эрекции, преждевременная эякуляция, отсутствие полового влечения. Благодаря наличию сапонинов, спаржа проявляет выраженные адаптационные и общеукрепляющие свойства.
				p <strong>Экстракт плодов якорцов стелющихся</strong> обладает общетонизирующим действием, повышает половое влечение и уровень тестостерона, улучшает работу мочевыделительной системы. Экстракт якорцов оказывает стимулирующий эффект на эректильную функцию и сперматогенез. Кроме того, якорцы стелющиеся проявляют антибактериальное, противовоспалительное, антихолестеринемическое, гипотензивное и диуретическое действие.
				p <strong>Йохимбина гидрохлорид</strong> – алкалоид из коры дерева Corynanthe Yohimbe, что растет в Западной Африке. Селективный антагонист α2-адренорецепторов. Более 100 лет применяется в качестве афродизиака и при эректильной дисфункции. Эффективен как при органических, так и при психогенных формах эректильной дисфункции.
				p <strong>Апилак</strong>, или так называемое пчелиное маточное молочко представляет собой секрет, который вырабатывается алотрофичнимы железами рабочих пчел. Содержит белки, аминокислоты, полисахариды, микроэлементы, липиды, ферменты, витамины группы В (пантотеновая кислота, пиридоксин) аскорбиновую кислоту. Улучшает иммунитет, стимулирует обмен веществ, способствует быстрому восстановлению в период физических нагрузок, уменьшает утомляемость и раздражительность, уменьшает проявления синдрома хронической усталости.
				p Воздействие на половую функцию мужчин характеризуется повышением полового влечения, уровня тестостерона и улучшению подвижности сперматозоидов.
				p <strong>Рекомендации по применению:</strong> Адриус может быть рекомендован как источник биологически активных веществ растительного происхождения для нормализации функционирования репродуктивной системы мужчин. Способствует повышению физической выносливости, улучшению эректильной функции и сперматогенеза.
				table
					tbody
						tr
							td
								p &nbsp;
							td
								p
									strong на 100 г
							td
								p
									strong на 1 таблетку
						tr
							td(colspan="3")
								p 
									strong Энергетическая ценность продукта:
						tr
							td
								p Калорийность
							td
								p 304,30 ккал
								p (1272,00 кДж)
							td
								p 1,836 ккал
								p (7,674 кДж)
						tr
							td(colspan="3")
								p
									strong Пищевая ценность продукта:
						tr
							td
								p белки
							td
								p 12,00 г
							td
								p 0,073 г
						tr
							td
								p жиры
							td
								p 3,30 г
							td
								p 0,020 г
						tr
							td
								p углеводы
							td
								p 56,00 г
							td
								p 0,341 г
				p <strong>Перед применением рекомендуется консультация врача.</strong>
				p <strong>Способ употребления:</strong> взрослым по 1-2 капсулы один раз в сутки после еды, запить водой.
				p <strong>Длительность приема:</strong> 30-45 дней, в дальнейшем срок употребления и возможность повторных курсов согласовывать с врачом.
				p <strong>Калорийность (Энергетическая ценность) 100 г продукта:</strong> 351,60 ккал (1469,68 кДж).
				p <strong>Питательная ценность (Пищевая ценность) 100 г продукта:</strong> белки – 15,00 мг, жиры – 0,40 мг, углеводы – 72,00 мг.
				p <strong>Меры предосторожности:</strong> не превышать указанное рекомендованное количество для ежедневного употребления. Не следует использовать в качестве замены полноценного рациона питания.
				p <strong>Противопоказания:</strong> дети, индивидуальная чувствительность к компонентам.
				p <strong>Срок годности:</strong> 3 года от даты изготовления.
				p <strong>Условия хранения:</strong> хранить в сухом, защищенном от света, недоступном для детей месте, при температуре не выше 30 °С.
				p <strong>Форма выпуска:</strong> капсулы по 30 штук в упаковке.
				p Диетическая добавка. Не является лекарственным средством. Не содержит ГМО.
				p <strong>Производитель:</strong> «Ананта Медикеар Лимитед», юридический адрес: 621, Ринг Роад Малл, Сектор-3, Рохини, Нью Дели – 110085, Индия; адрес места производства: Дж-1-265, Фаза – ІІ, РИИКО Индастриал Эриа, Удиог Вихар, Шриганганагар (Радж.), Индия.
				p <strong>Импортер:</strong> ООО «Эвитас»,
				p 61001, Украина, г. Харьков, ул. Искринская, д. 37, тел./факс: +380 (57) 766-07-44.

	//- +share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

