extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title title

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Новости")
			+breadcrumb("Главная","Новости")
		//- .title-page-block
		//- 	+product-subtitle("Вернуться в каталог")
		//- 	h2 Продукты
	.container
		.news
			.row.news-item
				.col-12.col-lg-2.d-flex.align-items-center
					img(src="img/news-pre-image.jpg")
				.col-12.col-lg-10
					.date 12.07.2019
					.title
						a.title-link(href="#") Наночастицы способны восстановить спинной мозг после травмы
					p Как отмечает N+1, силу наночастиц сотрудники Университета Мичигана опробовали на грызунах. Частицы усиливали рост новых нервных волокон и помогли мышам быстрее вернуть частичную подвижность задних лап. Известно: в зону повреждения спинного мозга при травме попадают нейтрофилы и моноциты - иммунные клетки. Эти клетки начинают выделять провоспалительные соединения, приводящие к увеличению проницаемости сосудов, формированию отека, а также гибели нейронов, разрушению миелиновой оболочки аксонов (отростков нервных клеток) и нарушению их функционирования.
			.row.news-item
				.col-12.col-lg-2.d-flex.align-items-center
					img(src="img/news-pre-image.jpg")
				.col-12.col-lg-10
					.date 12.07.2019
					.title
						a.title-link(href="#") Наночастицы способны восстановить спинной мозг после травмы
					p Как отмечает N+1, силу наночастиц сотрудники Университета Мичигана опробовали на грызунах. Частицы усиливали рост новых нервных волокон и помогли мышам быстрее вернуть частичную подвижность задних лап. Известно: в зону повреждения спинного мозга при травме попадают нейтрофилы и моноциты - иммунные клетки. Эти клетки начинают выделять провоспалительные соединения, приводящие к увеличению проницаемости сосудов, формированию отека, а также гибели нейронов, разрушению миелиновой оболочки аксонов (отростков нервных клеток) и нарушению их функционирования.
			.row.news-item
				.col-12.col-lg-2.d-flex.align-items-center
					img(src="img/news-pre-image.jpg")
				.col-12.col-lg-10
					.date 12.07.2019
					.title
						a.title-link(href="#") Наночастицы способны восстановить спинной мозг после травмы
					p Как отмечает N+1, силу наночастиц сотрудники Университета Мичигана опробовали на грызунах. Частицы усиливали рост новых нервных волокон и помогли мышам быстрее вернуть частичную подвижность задних лап. Известно: в зону повреждения спинного мозга при травме попадают нейтрофилы и моноциты - иммунные клетки. Эти клетки начинают выделять провоспалительные соединения, приводящие к увеличению проницаемости сосудов, формированию отека, а также гибели нейронов, разрушению миелиновой оболочки аксонов (отростков нервных клеток) и нарушению их функционирования.
			.row.news-item
				.col-12.col-lg-2.d-flex.align-items-center
					img(src="img/news-pre-image.jpg")
				.col-12.col-lg-10
					.date 12.07.2019
					.title
						a.title-link(href="#") Наночастицы способны восстановить спинной мозг после травмы
					p Как отмечает N+1, силу наночастиц сотрудники Университета Мичигана опробовали на грызунах. Частицы усиливали рост новых нервных волокон и помогли мышам быстрее вернуть частичную подвижность задних лап. Известно: в зону повреждения спинного мозга при травме попадают нейтрофилы и моноциты - иммунные клетки. Эти клетки начинают выделять провоспалительные соединения, приводящие к увеличению проницаемости сосудов, формированию отека, а также гибели нейронов, разрушению миелиновой оболочки аксонов (отростков нервных клеток) и нарушению их функционирования.
			.row.news-item
				.col-12.col-lg-2.d-flex.align-items-center
					img(src="img/news-pre-image.jpg")
				.col-12.col-lg-10
					.date 12.07.2019
					.title
						a.title-link(href="#") Наночастицы способны восстановить спинной мозг после травмы
					p Как отмечает N+1, силу наночастиц сотрудники Университета Мичигана опробовали на грызунах. Частицы усиливали рост новых нервных волокон и помогли мышам быстрее вернуть частичную подвижность задних лап. Известно: в зону повреждения спинного мозга при травме попадают нейтрофилы и моноциты - иммунные клетки. Эти клетки начинают выделять провоспалительные соединения, приводящие к увеличению проницаемости сосудов, формированию отека, а также гибели нейронов, разрушению миелиновой оболочки аксонов (отростков нервных клеток) и нарушению их функционирования.
			+pugin()
			

	//- +share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

