extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title title

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Мировые новости медицины")
			+breadcrumb("Главная","Новости","Мировые новости медицины","Наночастицы способны восстановить спинной мозг после травмы")
		.title-page-block
			+product-subtitle("К списку новостей")
			//- h2 Продукты
	.container
		.news-page
			h3 Наночастицы способны восстановить спинной мозг после травмы
			p Как отмечает N+1, силу наночастиц сотрудники Университета Мичигана опробовали на грызунах. Частицы усиливали рост новых нервных волокон и помогли мышам быстрее вернуть частичную подвижность задних лап. Известно: в зону повреждения спинного мозга при травме попадают нейтрофилы и моноциты - иммунные клетки. Эти клетки начинают выделять провоспалительные соединения, приводящие к увеличению проницаемости сосудов, формированию отека, а также гибели нейронов, разрушению миелиновой оболочки аксонов (отростков нервных клеток) и нарушению их функционирования.
			p В итоге формируется рубец, нарушающий нервную проводимость. Воспаление можно купировать, использовав глюкокортикоиды. Но эти препараты грозят побочными эффектами (сепсисом, желудочно-кишечными кровотечениями и тромбоэмболией). Проблему решает применение наночастиц из полилактида-ко-гликолида. Частицам удавалось снизить количество нейтрофилов и моноцитов в месте воспаления. Ученые предполагают, что наночастицы также перепрограммируют иммунные клетки.
			p Так, <strong>макрофаги</strong> (еще одни иммунные клетки) начинали выделять вещества, характерные для процесса восстановления тканей. Через четыре недели после травмы у грызунов сформировался рубец меньших размеров, чем обычно. Наночастицы способствовали росту аксонов и восстановлению их миелиновой оболочки в месте повреждения. Уровень экспрессии генов, связанных с регенерацией был выше, а животные в большей степени возвращали себе подвижность.
			p по материалам MedDally
			p(style="text-align: center")
				img(src="img/news-page-img.jpg" alt="#" style="max-width: 800px;")
			p(style="text-align: center")
				img(src="img/news-page-img.jpg" alt="#" style="max-width: 800px;")
			p(style="text-align: center")
				img(src="img/news-page-img.jpg" alt="#" style="max-width: 800px;")
				img(src="img/news-page-img2.jpg" alt="#" style="max-width: 203px;")
			
			

	+share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()

