extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title Специалистам

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Специалистам")
			+breadcrumb("Главная","Специалистам")
		//- .title-page-block
		//- 	+page-subtitle("Средства природного происхождения")
		//- 	h2 Продукты
	.container
		.news-block
			.row
				mixin news-col(i, t, s)
					.news-col.col-12.col-md-6.col-lg-4
						.item
							.text-center
								img.res-i(src=i alt="#")
							h5
								a(href="#")=t
							p=s
							a.news-btn.btn-main(href="#") Читать далее
				+news-col("img/for-specialists1.png","СРАВНИТЕЛЬНОЕ ИССЛЕДОВАНИЕ ФИТОПРЕПАРАТОВ ГЕПАКЛИН И СИЛИМАРИН у больных с метаболическим синдромом и неалкогольной жировой болезнью печени","Конец прошлого и начало нынешнего века характеризуются лавинообразным нарастанием количества людей с избыточной массой тела и ожирением. Так, за последние 35 лет в мире количество больных с ожирением удвоилось и достигло 11 % среди мужчин и 15 % среди женщин. Причем ожирение стало проблемой не только в развитых, но и в развивающихся странах (Arroyo-Johnson C., Mincey K.D., 2016). В 2014 году в мире насчитывалось около 1,9 миллиарда людей с избыточной массой тела, а у 650 миллионов находили ожирение. Наша страна не является исключением. Так, по данным ВОЗ, в 2016 году у 61,5 % взрослых жителей Украины индекс массы тела (ИМТ) превышал 25. В настоящее время ВОЗ характеризует ожирение как наиболее важную причину развития хронических заболеваний, опередившую проблему недоедания (WHO, 2016). Это объясняется тем, что избыточная масса тела и ожирение приводят к росту сердечно-сосудистой, эндокринной и онкологической патологии")
				+news-col("img/for-specialists2.jpg","Возможности фитонейрорегуляции у пациентов с тревожно-депрессивными расстройствами, обусловленными военным стрессом","Встатье представлены результаты исследования эффективности употребления растительного комплекса Анантавати® («Ananta Medicare», Великобритания) ранеными, поступившими из зоны антитеррористической операции, с психопатологическими проявлениями в восстановительный период. Употребление фитокомплекса Анантавати® продемонстрировало достоверно высокую эффективность при тревожно-депрессивных расстройствах, связанных со стрессом военных действий. Отмечено снижение уровня депрессивных проявлений на 40%, выраженное улучшение сна, уменьшение раздражительности, соматических проявлений психических расстройств, стабилизация настроения, улучшение аппетита, нормализация сексуального функционирования.")
				+news-col("img/for-specialists3.jpg","Опыт применения комбинированных фитопрепаратов в лечении заболеваний дыхательных путей","По материалам: Дудник В.М., Морозова И.В., Шаламай М. О., Вижга Ю.В. Опыт применения комбинированных фитопрепаратов в лечении заболеваний дыхательных путей // ВІСНИК ВІННИЦЬКОГО НАЦІОНАЛЬНОГО МЕДИЧНОГО УНІВЕРСИТЕТУ. - 2018. - Т.22, №1.")
				
	//- +share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()
	+modal()

