extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title title

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Специалистам")
		
			+breadcrumb("Главная","Специалистам","СРАВНИТЕЛЬНОЕ ИССЛЕДОВАНИЕ ФИТОПРЕПАРАТОВ ГЕПАКЛИН И СИЛИМАРИН у больных с метаболическим синдромом и неалкогольной жировой болезнью печени")
		.title-page-block
			+product-subtitle-img("К списку статей")
		//- 	h2 Продукты
	.container
		.for-specialists-page
			h3 СРАВНИТЕЛЬНОЕ ИССЛЕДОВАНИЕ ФИТОПРЕПАРАТОВ ГЕПАКЛИН И СИЛИМАРИН у больных с метаболическим синдромом и неалкогольной жировой болезнью печени
			p Конец прошлого и начало нынешнего века характеризуются лавинообразным нарастанием количества людей с избыточной массой тела и ожирением. Так, за последние 35 лет в мире количество больных с ожирением удвоилось и достигло 11 % среди мужчин и 15 % среди женщин. Причем ожирение стало проблемой не только в развитых, но и в развивающихся странах (Arroyo-Johnson C., Mincey K.D., 2016). В 2014 году в мире насчитывалось около 1,9 миллиарда людей с избыточной массой тела, а у 650 миллионов находили ожирение. Наша страна не является исключением. Так, по данным ВОЗ, в 2016 году у 61,5 % взрослых жителей Украины индекс массы тела (ИМТ) превышал 25. В настоящее время ВОЗ характеризует ожирение как наиболее важную причину развития хронических заболеваний, опередившую проблему недоедания (WHO, 2016). Это объясняется тем, что избыточная масса тела и ожирение приводят к росту сердечно-сосудистой, эндокринной и онкологической патологии
			p (Yumuk V. еt al., 2015).
			p Известно, что наиболее метаболически активным является висцеральный жир. Поэтому абдоминальное ожирение закономерно сопровождается целым рядом изменений липидного, углеводного и других видов обмена веществ, повышая риск развития многих заболеваний. Хорошо известны диагностические критерии метаболического синдрома (МС), включающие увеличение окружности талии (> 80 см у женщин и > 84 см у мужчин европеоидной расы), а также не менее 2 дополнительных критериев: повышение АД > 130/85 мм рт.ст.; повышение уровня триглицеридов (ТГ) > 1,7 ммоль/л; повышение глюкозы плазмы крови натощак > 5,6 ммоль/л; и снижение липопротеидов высокой плотности (ЛПВП) &lt; 1 ммоль/л у мужчин и &lt; 1,3 ммоль/л у женщин или прием гипотензивных, сахароснижающих, гиполипидемических препаратов (Alberti K.G. еt al., 2009; Goldenberg R. et al., 2013). Помимо уже перечисленных заболеваний, МС часто сопровождается развитием остеоартроза, псориаза, мочекаменной болезни и такой гастроэнтерологической патологии, как неалкогольная жировая болезнь печени (НАЖБП) и дискинезия желчевыводящих путей (Halmos T., Suba I., 2017).
			p В настоящее время НАЖБП вышла на первое место среди причин поражения печени в развитых странах и, по прогнозам, в ближайшее десятилетие станет самой частой причиной смерти от заболеваний печени (Younossi Z. еt al., 2018). Известно, что у большинства пациентов с НАЖБП выявляется стеатоз печени – накопление жира более чем в 5 % гепатоцитов без признаков воспаления, однако у части больных присоединяется воспаление – развивается стеатогепатит. Исходом такого процесса будет фиброз, цирроз печени, а у некоторых больных – развитие гепатоцеллюлярной карциномы. Золотым стандартом диагностики НАЖБП является биопсия печени с морфологическим исследованием. Однако усовершенствование ультразвуковой диагностики позволяет достаточно информативно и, главное, неинвазивно подтвердить наличие стеатоза печени (Pappachan J.M. еt al., 2017).
			p Среди функциональных заболеваний желудочнокишечного тракта, пожалуй, самой малоизвестной для практических врачей является функциональная патология желчного пузыря (ФПЖП). В нашей стране это заболевание лучше известно под названием «дискинезия желчевыводящих путей» (ДЖВП). В настоящее время ФПЖП имеет четкие диагностические критерии, подтвержденные в очередном IV Римском консенсусе по функциональной патологии желудочно-кишечного тракта (ЖКТ). Однако там же указывается достаточно слабая доказательная база методов диагностики и лечения этой патологии (Cotton P.B. еt al., 2016). К диагностическим критериям ФПЖП относится наличие билиарных болей у пациентов с сохраненным желчным пузырем (ЖП) при исключении желчнокаменной болезни. У большинства этих пациентов обнаруживается снижение сократимости ЖП. В то же время у части больных с ФПЖП сократительная функция желчного пузыря оказалась повышенной или нормальной (Pihl K.D. еt al., 2018). Истинная распространенность ДЖВП неизвестна, хотя предполагается, что у взрослых около 20 % всех холецистэктомий проводится в связи именно с этой патологией (Bielefeldt K. еt al., 2014). Следует отметить, что вопросы лечения НАЖБП и ФПЖП в настоящее время недостаточно разработаны
			p (Cotton P.B. еt al., 2016; Pappachan J.M. еt al., 2017). В Северной Америке больным с ФПЖП принято проводить холецистэктомию, хотя ее эффективность оказалась намного ниже, чем при желчнокаменной болезни (Goussous N. еt al., 2014).
			div(style="text-align: right")
				a(href="assets/files/ru/anantavati-reprint_rus.pdf") читать далее....
			p(style="text-align: center;")
				img(src="img/gepaklin_.jpg" alt="#" style="max-width: 800px;")
				
	+share-block()
	+s-form()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()
	+modal()

