extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title Пациентам

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	.container
		.title-page-block
			+page-title("Информация для пациентов")
			+breadcrumb("Главная","Пациентам")
		//- .title-page-block
		//- 	+page-subtitle("Средства природного происхождения")
		//- 	h2 Продукты
	.container
		.news-block
			.row
				mixin news-col(i, t, s)
					.news-col.col-12.col-md-6.col-lg-4
						img(src=i alt="#")
						a(href="#")
							h5=t
						p=s
						a.news-btn.btn-main(href="#") Читать далее
				+news-col("img/fajboleks_3-293x198-a6f.jpg","Народная мудрость о погрешностях питания","Здоровое питание — это питание, обеспечивающее рост, нормальное развитие и жизнедеятельность человека, которое способствует укреплению и поддержанию здоровья, а также профилактике заболеваний. Как много сказано и написано на эту тему, но каждый вкладывает свой смысл в это понятие.  Давайте же обратимся к кладезю народной мудрости, почитайте, что говорят пословицы на этот счет.")
				.news-col.col-12.col-md-6.col-lg-4
					img(src="img/1444976567_2-293x198-357.jpg" alt="#")
					a(href="#")
						h5 Головная боль. Как найти управу?
					p Что такое головная боль? <br>Чем характеризуется головная боль напряжения? <br>Каковы разновидности головной боли напряжения? <br>Как отличить головную боль напряжения и мигрени? <br>Являются ли головные боли напряжения наследственным заболеванием? <br>Как лечится головная боль напряжения? <br>Какое немедикаментозное лечение применяется при эпизодической головной боли напряжения? <br>Какое лечение применяют во время приступа головной боли напряжения?
					a.news-btn.btn-main(href="#") Читать далее
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
				+news-col("img/allergiya1-293x198-594.jpg","ЗАЩИТНИК ОТ АЛЛЕРГИИ","Есть ли возможность избавиться от уже развившейся повышенной чувствительностик какому-либо веществу? Каким образом уменьшить восприимчивость иммунной системы?")
			+pugin()
	//- +share-block()
	//- +s-slider()
	//- +s-about-company()
	//- +s-news()
	//- +s-meds()
	//- +s-information()
	+footer()
	//- +modal()

