extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-slider/_s-slider.pug
include ../blocks/s-about-company/_s-about-company.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-meds/_s-meds.pug
include ../blocks/s-information/_s-information.pug

block title
	title Главная

block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	
	+s-slider()
	+s-about-company()
	+s-news()
	+s-meds()
	+s-information()
	+footer()

