
mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto
					a(href="#")
						+e.IMG.header-logo(src="img/logo.png" alt="#")
				+e.main-title.col.d-none.d-md-block
					+e.company-name an<span>a</span>nta medicare
					+e.slogan.d-none.d-lg-block Бесконечная забота о вашем здоровье
				+e.language-col.col.col-md-auto.text-right
					+e.language-block.extra-font
						.block
							+e.language
								+e.IMG.flag(src="img/lang_ru.png" alt="#")
								+e.country-name Россия
							+form-wrap()
								+e.input-wrap.form-group
									+e.SELECT.input.form-control.extra-font#lang-select
										//- option.language.d-none(disabled selected) Выберите страну
										+e.OPTION.language(data-description="Выберите страну") 
										+e.OPTION.language(value="0" data-description="Главная") 
										+e.OPTION.language(value="1" data-imagesrc="img/lang_ua.png" data-description="Украина") 
										+e.OPTION.language(value="2" data-imagesrc="img/lang_en.png" data-description="Великобритания")
										+e.OPTION.language(value="3" data-imagesrc="img/lang_in.png" data-description="Индия") 
										+e.OPTION.language(value="4" data-imagesrc="img/lang_md.png" data-description="Молдавия") 
					+e.soc.d-none.d-sm-flex
						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/facebook.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/vk.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/ok.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/instagram.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/google.png" alt="#")

			+mnu()
			+b.search-block
				+e.BUTTON.search(type="submit") Поиск
				+form-wrap
					+input("toggle-search","","Запрос для поиска...")
					
	// end top-nav