
mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.UL.list-nav#accordeon
				+e.LI.item-nav
					+e.A.item-link(href="#") Главная
				+e.LI.item-nav
					+e.A.item-link(href="#") О компании
					+e.toggler ⮞
					+e.UL.list-subnav
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Профиль компании
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Производство
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Наши награды и достижения
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Дипломы и благодарности
				+e.LI.item-nav
					+e.A.item-link(href="#") Продукты
					+e.toggler ⮞
					+e.UL.list-subnav
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Средства природного происхождения
				+e.LI.item-nav
					+e.A.item-link(href="#") Новости
					+e.toggler ⮞
					+e.UL.list-subnav
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Новости компании
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Мировые новости медицины
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Наши новинки
				+e.LI.item-nav
					+e.A.item-link(href="#") Специалистам
					+e.toggler ⮞
					+e.UL.list-subnav
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Опыт применения комбинированных фитопрепаратов в лечении заболеваний дыхательных путей
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Возможности фитонейрорегуляции у пациентов с тревожно-депрессивными расстройствами, обусловленными военным стрессом
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") СРАВНИТЕЛЬНОЕ ИССЛЕДОВАНИЕ ФИТОПРЕПАРАТОВ ГЕПАКЛИН И СИЛИМАРИН у больных с метаболическим синдромом и неалкогольной жировой болезнью печени
				+e.LI.item-nav
					+e.A.item-link(href="#") Пациентам
					+e.toggler ⮞
					+e.UL.list-subnav
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Аллергия: что делать?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Как облегчить простуду?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Как спастись от головной боли
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Язва желудка. Что нужно знать ?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Советы при переедании
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Хламидиоз – как быть?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Болезни сердца и сосудов. Профилактика атеросклероза
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Что делать если у Вас бронхит?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Молочница: как от нее избавиться?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Если у Вас гипертония…
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Гонорея - древнейший враг человечества
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Путь к здоровым ногтям
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") ЗАЩИТНИК ОТ АЛЛЕРГИИ
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Головная боль. Как найти управу?
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Народная мудрость о погрешностях питания
				+e.LI.item-nav
					+e.A.item-link(href="#") Карьера
					+e.toggler ⮞
					+e.UL.list-subnav
						+e.LI.item-subnav
							+e.A.item-sublink(href="#") Вакансии в странах СНГ
				+e.LI.item-nav
					+e.A.item-link(href="#") Контакты
			+e.soc.d-flex
				+e.A.soc-link(href="#")
					+e.IMG.soc-img(src="img/facebook.png" alt="#")

				+e.A.soc-link(href="#")
					+e.IMG.soc-img(src="img/vk.png" alt="#")

				+e.A.soc-link(href="#")
					+e.IMG.soc-img(src="img/ok.png" alt="#")

				+e.A.soc-link(href="#")
					+e.IMG.soc-img(src="img/instagram.png" alt="#")

				+e.A.soc-link(href="#")
					+e.IMG.soc-img(src="img/google.png" alt="#")

			
		
			//- +mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-flex.d-sm-block.align-items-center
					a(href="#")
						+e.IMG.header-logo(src="img/logo.png" alt="#")
				+e.main-title.col.d-none.d-md-block
					+e.company-name an<span>a</span>nta medicare
					+e.slogan.d-none.d-lg-block Бесконечная забота о вашем здоровье
				+e.language-col.col.col-md-auto.text-right
					+e.language-block.extra-font
						.block
							+e.language
								+e.IMG.flag(src="img/lang_ru.png" alt="#")
								+e.country-name Россия
							+form-wrap()
								+e.input-wrap.form-group
									+e.SELECT.input.form-control.extra-font#lang-select
										//- option.language.d-none(disabled selected) Выберите страну
										option(data-description="Выберите страну") &nbsp;
										option(value="0" data-description="Главная") &nbsp;
										option(value="1" data-imagesrc="img/lang_ua.png" data-description="Украина") &nbsp;
										option(value="2" data-imagesrc="img/lang_en.png" data-description="Великобритания") &nbsp;
										option(value="3" data-imagesrc="img/lang_in.png" data-description="Индия") &nbsp;
										option(value="4" data-imagesrc="img/lang_md.png" data-description="Молдавия") &nbsp;
					+e.soc.d-none.d-sm-flex
						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/facebook.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/vk.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/ok.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/instagram.png" alt="#")

						+e.A.soc-link(href="#")
							+e.IMG.soc-img(src="img/google.png" alt="#")

			+mnu()
			+b.search-block
				+e.BUTTON.search(type="submit") Поиск
				.form-wrap
					input.form-wrap__input.toggle-search(type="text" placeholder="Запрос для поиска...")
					
	// end top-nav