 
	  
.soc{
	margin: 0 -5px;
	&__item{
		display: inline-block;
		text-decoration: none !important;
		margin: 0 5px;
		vertical-align: middle;
		@include mt;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
	}
	svg{
		width: 31px;
		height: 31px;
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.page-title{
	margin-right: rem(30);
	background-color: $primary;
	padding: rem(20) 0 rem(20) 0;
	position: relative;
	width: 100%;
	max-width: rem(270) ;
	@include media-breakpoint-down(xs) {
		padding-right: rem(35);
		max-width: unset;
		width: 100%;
		margin-right: 0;
	}
	&__title{
		font-size: rem(19);
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		line-height: 1.42;
	}
	&::before{
		content: '';
    position: absolute;
    top: 0;
    width: 5000px;
    height: 100%;
    right: 100%;
    background-color: #f38624;
	}
}
.page-subtitle{
	background-color: #f3f3f3;
	padding: rem(24) rem(26) rem(24) 0;
	.page-title__title{
		color: #5c9ab6;
		font-size: rem(19);
		letter-spacing: 2;
		font-weight: 600;
		text-transform: unset;
		line-height: rem(20);
		&:hover{
			text-decoration: none;
		}
	}
	&::before{
		background-color: #f3f3f3;
	}
}
.product-subtitle{
	padding: rem(20) 0 rem(20) rem(20);
	.page-title__title{
		text-transform: uppercase;
		font-weight: normal;
		font-size: rem(18);
		position: relative;
		&::before{
			content: "";
			background-image: url(../img/arr.png);
			background-size: cover;
			background-repeat: no-repeat;
			width: rem(14);
			height: rem(17);
			position: absolute;
			@include a-cent(y);
			left: rem(-20);
		}
	}
}

.breadcrumb{
	font-size: rem(14);
	a{
		color: #b5b5b5;
		&::after{
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 7px;
			height: 7px;
			border-bottom: 1px solid #fd8320;
			border-right: 1px solid #fd8320;
			transform: rotate(-45deg);
			margin: 8px;
		}
	}
	span{
		color: #5c9ab6;
	}
	@include media-breakpoint-down(sm) {
		margin-top: rem(15);
		margin-bottom: rem(15);
	}
}

.share-block{
	display: flex;
	align-items: center;
	padding: rem(70) 0 rem(30);
	@include media-breakpoint-down(md) {
		padding: rem(35) 0 rem(30);
	}
	&__text{
		margin-right: rem(50);
		color: #b5b5b5;
		@include media-breakpoint-down(sm) {
			margin-right: rem(20);
		}
	}
	&__link{
		&:not(:last-child){
			margin-right: rem(30);
			@include media-breakpoint-down(sm) {
				margin-right: rem(15);
			}
		}
	}
}

.subtitle-img{
	width: 100%;
	height: auto;
}
.image-subtitle{
	@include media-breakpoint-up(sm) {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.for-specialists-page{
	padding-bottom: rem(20);
	// margin-bottom: rem(20);
	h3{
		color: #5c9ab6;
		font-size: rem(32);
		font-weight: normal;
		line-height: rem(32);
		margin: rem(32) 0;
		@include media-breakpoint-down(md){
			font-size: rem(25);
		}
		@include media-breakpoint-down(sm){
			line-height: rem(25);
			font-size: rem(20);
		}
	}
	p{
		margin-bottom: rem(5);
		font-family: $second-font;
		line-height: rem(24);
		color: #626262;
		text-indent: 10px;
		a{
			font-weight: bold;
		}
	}
	a{
		text-decoration: underline;
		color: #551A8B;
		font-family: $second-font;
	}
	img{
		width: 100%;
		height: auto;
		margin: 10px;
		@include media-breakpoint-down(sm){
			margin: 10px 0;
		}
	}
	&::after{
		content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #92b6c7;
    margin: 30px 0 0;
	}
	hr{
		margin: rem(20) 0;
    border: 0;
    border-top: 1px solid #eeeeee;
	}
	h4{
		color: #343e5c;
    font-family: $second-font;
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(24);
    margin-bottom: rem(20);
	}
	ul{
		line-height: 24px;
		margin-left: rem(30);
		margin-bottom: 0;
	}
	li{
		color: #626262;
    font-family: $second-font;
    margin-bottom: rem(5);
    text-indent: 10px;
	}
	table{
		margin: rem(12) rem(5);
	}
	td{
		padding: 0 rem(15);
	}
	ol{
		margin: rem(27) 0;
		padding-left: rem(40);
	}
	.map-img{
		width: 100%;
		max-width: rem(538);
		height: auto;
		margin-bottom: rem(70);
	}
	.career-list{
		list-style: none;
		margin-left: rem(15);
		li{
			position: relative;
			&::before{
				content: "-";
				position: absolute;
				top: 0;
				left: rem(-10);
			}
		}
	}
}
.form-title{
	background-color: $secondary;
	&::before{
		background-color: $secondary;
	}
}
.career{
	padding-bottom: 0;
	&::after{
		content: none;
	}
}
.contacts-form-title{
	background-color: #5c9ab6;
	padding-left: rem(28);
	&::before{
		content: none;
	}
	&::after{
		content: '';
    position: absolute;
    top: 0;
    width: 1500px;
    height: 100%;
    left: 100%;
    background-color: #5c9ab6;
	}
	.page-title__title{
		font-size: rem(18);
	}
}